@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

#root {
  background: radial-gradient(#d18a8a, #040944);
}

/* @keyframes back-in {
  0% {
    background: radial-gradient(#362424, #000000);
  }
  100% {
    background: radial-gradient(#d18a8a, #040944);
  }
} */

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.scroll > div {
  scroll-snap-align: start;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  /* background-color: #101010; */
  /* background: radial-gradient(circle at bottom center, #212121 0%, #101010 80%); */
  /* font-family: "Inter var", sans-serif; */
  -webkit-font-smoothing: antialiased;
}

.caption {
  display: none;
}

.dot {
  pointer-events: all;
  position: sticky;
  top: 0px;
  display: inline-block;
  max-width: 600px;
  padding: 0;
  padding: 80px;
  color: #a0a0a0;
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.dot > h1 {
  -webkit-font-smoothing: all;
  pointer-events: none;
  color: white;
  /* font-size: 5em; */
  /* font-weight: 100;
  line-height: 1em; */
  margin: 0;
  margin-bottom: 0.25em;
}

/* .welcome {
  color: white;
  margin-block-start: 20em;
} */

/* .dash {
  width: 43em;
  margin-left: 30em;
  transform: perspective(1000px) rotate3d(1, 0, 0, 70deg) translate(0px, 440px);
} */

@media only screen and (min-width: 1501px) {
  .infouser {
    margin-block-start: 4em;
    margin-inline-start: 25em;
    transition: all 1s;
  }
  .dot {
    max-width: 1000px;
  }
  .dash {
    width: 30em;
    margin-left: 35em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 770px);
    transition: all 1s;
  }

  .trasl {
    transform: translate(0px, -500px);
  }
  .user {
    width: 30em;
    margin-left: 35em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, -570px);

    overflow-y: scroll;
    height: 500px;
    transition: all 1s;
  }
}

@media only screen and (max-width: 1500px) {
  .infouser {
    margin-block-start: 4em;
    margin-inline-start: 17em;
    transition: all 1s;
  }
  .dot {
    max-width: 1000px;
  }
  .dash {
    width: 35em;
    margin-left: 30em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 770px);
    transition: all 1s;
  }
  .trasl {
    transform: translate(0px, -500px);
  }
  .user {
    width: 35em;
    margin-left: 30em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 300px);

    overflow-y: scroll;
    height: 500px;
    transition: all 1s;
  }
}

@media only screen and (max-width: 1300px) {
  .dash {
    width: 30em;
    margin-left: 30em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 770px);
    transition: all 1s;
  }
  .infouser {
    margin-block-start: 4em;
    margin-inline-start: 25em;
    transition: all 1s;
  }
  .trasl {
    transform: translate(0px, -500px);
  }
  .user {
    overflow-y: scroll;
    height: 500px;

    width: 30em;
    margin-left: 30em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 300px);
    transition: all 1s;
  }
}

@media only screen and (max-width: 1000px) {
  .infouser {
    margin-block-start: 4em;
    margin-inline-start: 14em;
    transition: all 1s;
  }
  .dot {
    max-width: 800px;
  }

  .dash {
    width: 30em;
    margin-left: 20em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 650px);
    transition: all 1s;
  }
  .trasl {
    transform: translate(0px, -300px);
  }
  .user {
    overflow-y: scroll;
    height: 500px;

    width: 30em;
    margin-left: 20em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 300px);
    transition: all 1s;
  }
}

@media only screen and (max-width: 800px) {
  .infouser {
    margin-block-start: 4em;
    margin-inline-start: 10em;
    transition: all 1s;
  }
  .dash {
    width: 30em;
    margin-left: 13em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 770px);
    transition: all 1s;
  }
  .trasl {
    transform: translate(0px, -400px);
  }
  .user {
    overflow-y: scroll;
    height: 500px;

    width: 30em;
    margin-left: 13em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 250px);
    transition: all 1s;
  }
}

@media only screen and (max-width: 700px) {
  .infouser {
    margin-block-start: 4em;
    margin-inline-start: 9em;
    transition: all 1s;
  }
  .dash {
    width: 30em;
    margin-left: 5em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 770px);
    transition: all 1s;
  }
  .trasl {
    transform: translate(0px, -400px);
  }
  .user {
    overflow-y: scroll;
    height: 500px;

    width: 30em;
    margin-left: 5em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 300px);
    transition: all 1s;
  }
}

@media only screen and (max-width: 600px) {
  .infouser {
    margin-block-start: 5em;
    margin-inline-start: 8em;
    transition: all 1s;
  }
  .dash {
    width: 30em;
    margin-left: 5em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 750px);
    transition: all 1s;
  }
  .trasl {
    transform: translate(0px, -400px);
  }
  .user {
    overflow-y: scroll;
    height: 500px;

    width: 30em;
    margin-left: 5em;
    transform: perspective(4000px) rotate3d(1, 0, 0, 60deg)
      translate(0px, 300px);
    transition: all 1s;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul,
div {
  color: white;
}

.logo {
  text-align: center;
  text-decoration: none;
}

.logo h1 {
  color: rgb(0, 132, 132);
  width: fit-content;
  margin-inline: auto;
  transition: all 200ms;
}

.logo h1:hover {
  color: rgb(122, 237, 237);
  scale: 1.02;
  border-radius: 1em;
  width: 10em;
  box-shadow: inset 0px 0px 35px 0px rgba(37, 65, 194, 0.5),
    0px 0px 35px 0px rgba(37, 65, 194, 0.5);
}

.btLog {
  background-color: transparent;
  color: red;
  border: none;
  font-size: xx-large;
  font-weight: 500;
  transition: all 200ms;
}

.btLog:hover {
  box-shadow: 0px 0px 55px 0px rgb(255 0 0),
    inset 0px 0px 90px 0px rgba(255, 0, 0, 0.5);
  border-radius: 1em;
  color: #ff9696;
  scale: 1.02;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    /* color: white; */
    /* background-color: black; */
  }

  100% {
    opacity: 1;
    /* color: white; */
    /* background-color: black; */
  }
}

@keyframes up {
  0% {
    opacity: 0;
    /* color: white; */
    /* background-color: black; */
  }

  100% {
    opacity: 1;
    translate: 0 -8em;
  }
}

@keyframes up-second {
  0% {
    opacity: 0;
    /* color: white; */
    /* background-color: black; */
  }

  100% {
    opacity: 1;
    translate: 0 -10em;
  }
}

.intro {
  animation: fade-in 1s 3s both;
}

.diner {
  /* animation: fade-in 5s 3s both; */

  animation: fade-in 4s 2 both;
  animation-direction: alternate;
}

.welcome {
  color: white;
  margin-block-start: 20em;
  background-color: #00000093;
  box-shadow: 0px 0px 10px 10px #00000093;

  animation: up 2s 5s both;
}

@media only screen and (max-width: 710px) {
  .welcome {
    animation: up-second 1s 2s both;
  }
}

/* prova glich */

canvas {
  /* position: absolute; */
  left: 0;
  top: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
}
canvas.snow {
  /* background-color: #aaa;
  opacity: 0; */
}

#screen {
  width: 80%;
  height: 100%;
  background: transparent
    linear-gradient(to bottom, #85908c0f 0%, #3234310d 100%) repeat scroll 0 0;
  background-size: cover;

  box-shadow: 0px 0px 10px 35px #3e373727;
  overflow-y: scroll;
  overflow-x: clip;
}

.screen-container {
  width: 640px;
  height: 360px;
  overflow: hidden;
  position: relative;
}

.screen-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.vcr {
  opacity: 0.6;
}

.scanlines {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.189) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.wobblex {
  -webkit-animation: wobblex 100ms infinite;
  animation: wobblex 100ms infinite;
}

.wobbley {
  -webkit-animation: wobbley 100ms infinite;
  animation: wobbley 110ms infinite;
}

.glitch {
  -webkit-animation: 5s ease 2000ms normal none infinite running glitch;
  animation: 5s ease 2000ms normal none infinite running glitch;
}

@-webkit-keyframes wobblex {
  50% {
    transform: translateX(0.5px);
  }
  51% {
    transform: translateX(0);
  }
}

@keyframes wobblex {
  50% {
    transform: translateX(1px);
  }
  51% {
    transform: translateX(0);
  }
}
@-webkit-keyframes wobbley {
  0% {
    transform: translateY(0.5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wobbley {
  0% {
    transform: translateY(0.3px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes glitch {
  40% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    transform: scale(1, 1.2);
    transform: skew(80deg, 0);
  }
  42% {
    opacity: 0.8;
    transform: scale(1, 1.2);
    transform: skew(-50deg, 0);
  }
  43% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
}
@keyframes glitch {
  40% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    transform: scale(1, 1.2);
    transform: skew(80deg, 0);
  }
  42% {
    opacity: 0.8;
    transform: scale(1, 1.2);
    transform: skew(-50deg, 0);
  }
  43% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
}
@-webkit-keyframes glitch1 {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  31% {
    transform: translateX(10px);
  }
  32% {
    transform: translateX(0);
  }
  98% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes glitch1 {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  31% {
    transform: translateX(10px);
  }
  32% {
    transform: translateX(0);
  }
  98% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
/* .text span:nth-child(2) {
  -webkit-animation: glitch2 1s infinite;
  animation: glitch2 1s infinite;
} */

/* .testo {
  -webkit-animation: glitch2 1s infinite;
  animation: glitch2 1s infinite;
} */

@-webkit-keyframes glitch2 {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  31% {
    transform: translateX(-10px);
  }
  32% {
    transform: translateX(0);
  }
  98% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes glitch2 {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  31% {
    transform: translateX(-10px);
  }
  32% {
    transform: translateX(0);
  }
  98% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
/* .overlay .text {
  -webkit-animation: 5s ease 2000ms normal none infinite running glitch;
  animation: 5s ease 2000ms normal none infinite running glitch;
} */

.testo {
  -webkit-animation: 5s ease 2000ms normal none infinite running glitch;
  animation: 5s ease 2000ms normal none infinite running glitch;
}

/* .on > .screen-wrapper {
  -webkit-animation: 3000ms linear 0ms normal forwards 1 running on;
  animation: 3000ms linear 0ms normal forwards 1 running on;
} */

.screen-wrapper {
  -webkit-animation: 3000ms linear 0ms normal forwards 1 running on;
  animation: 3000ms linear 0ms normal forwards 1 running on;
}

@-webkit-keyframes on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(4);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(4);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(4);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(4);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

.btlog {
  text-decoration: auto;
  padding-block: 0.5em;
  border: 1px solid;
  color: #414141;
  padding-inline: 1em;
  font-weight: 500;
  font-style: italic;
}

.menured {
  color: red;
}

input {
  border-inline: none;
  border-top: none;
  background: #f0f8ff00;
  border-bottom: 1px dotted;
  border-radius: 0;
  font-size: large;
  transition: all 0.7s;
}
.log {
  background-color: #fefefe29;
  margin-inline: auto;
  border-radius: 1em;
  padding-block: 2em;
  padding-inline: 3em;
  box-shadow: 10px 10px 10px #00000024;
  text-align: center;
}

input:focus-visible {
  outline: none;
  padding: 0;
  border-radius: 0;
  scale: 1.05;
  transition: all 0.7s;
}

::placeholder {
  color: rgb(50, 50, 50);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: rgb(50, 50, 50);
}

.mod {
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}

.scroll-color {
  width: fit-content;
}

/* provascroll */

.provascroll {
  height: 100px;
  background-color: brown;
  overflow-y: scroll;
}

.stop {
  height: 100px;
  background-color: brown;
  overflow-y: clip;
}

#btout {
  width: 8em;
  text-align: center;
}

#btout:hover {
  cursor: pointer;
}
.tab {
  overflow: scroll;
}

/* animazione body */

.prima {
  display: inline-block;
  /* padding: 10em; */
  position: relative;
  background: linear-gradient(
    140deg,
    rgba(161, 196, 255, 1) 2%,
    rgba(79, 139, 243, 1) 52%,
    rgba(233, 170, 108, 1) 76%,
    rgba(245, 211, 177, 1) 94%,
    rgba(255, 251, 247, 1) 100%
  );
}
.secondo:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    172deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(16, 26, 74, 1) 41%,
    rgba(28, 16, 94, 1) 54%,
    rgba(74, 29, 11, 1) 76%,
    rgba(80, 50, 14, 1) 90%,
    rgba(25, 5, 54, 1) 100%
  );
  transition: opacity 0.5s ease-out;
  z-index: 2;
  animation: grad 3s 4s both;
}

@keyframes grad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sopra {
  position: relative;
  z-index: 3;
  /* width: 100%;
  height: 100%; */
}

.prima,
.secondo,
.sopra {
  width: 100%;
  height: 100%;
}
/* .usdetail{
  text-decoration: none;
} */

.comand {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2em;
  width: 28em;
  padding: 1em;
}

.up {
  right: 0;
  left: auto;
}

.agg {
  font-size: xx-large;
}

/* #root {
  overflow-y: scroll;
} */

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input {
  width: 13rem;
  white-space: break-spaces;
  color: #323232;
}

.custom-file-input::before {
  content: "Seleziona file";
  color: rgb(4, 16, 236);
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f949, #e3e3e349);
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 2px 2px #0cbdf8;
  font-weight: 700;
  font-size: 10pt;

  margin: 0.5em;
  transition: all 150ms;
}
.custom-file-input:hover::before {
  box-shadow: 0px 0px 17px blue;
  color: #09c3f7;
  text-shadow: 2px 2px #0d6f8a;
  transform: scale(1.02);
  transition: all 150ms;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
